<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="encore.project.bbs">
	<select id="listRow" resultType="bbs_vo" flushCache="true" useCache="true"> 
		SELECT SEQ, SUBJECT, CONTENT, WRITER, REGDATE, VIEWCNT
		FROM BBS_TBL
		ORDER BY SEQ DESC
	</select>
	
	<select id="readRow" resultType="bbs_vo" flushCache="true" useCache="true">
		SELECT SEQ, SUBJECT, CONTENT, WRITER, REGDATE, VIEWCNT
		FROM BBS_TBL
		WHERE SEQ=#{seq}
	</select>
	
	<update id="upCntRow" parameterType="bbs_vo" flushCache="true">
		UPDATE BBS_TBL
		SET VIEWCNT = VIEWCNT+1
		WHERE SEQ=#{seq}
	</update>
</mapper>  

